@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

$primary: #1da1f2;
$color1: #14171a;
$color2: #657786;
$white: #fff;
$border-radius: 5px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

body {
  overflow-x: hidden;
}

.hidden {
  visibility: hidden;
}

nav {
  display: flex;
  justify-content: center;
  background-color: $color1;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    li {
      display: inline;
      a {
        color: white;
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

header {
  min-height: 70vh;
  background-color: $primary;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7em;
    max-width: 1000px;
    transition: 0.5s;
  }
  .intro {
    color: white;
    flex: 1;
    font-size: 2rem;
    h1 {
      font-weight: 600;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 3em;
    flex: 1;
    display: grid;
    form {
      color: white;
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
      }
      input {
        border: 0;
        border-radius: $border-radius;
        padding: 0.25rem 0.5rem;
        margin-bottom: 0.5em;
        font-size: 1.25rem;
      }
      p.max {
        font-size: 1rem;
        margin-top: -0.4rem;
        margin-bottom: 0.5rem;
      }
    }
    .sentiment {
      background: $white;
      color: black;
      font-size: 1.5rem;
      padding: 1rem;
      border-radius: $border-radius;
      position: relative;
      .loading {
        position: absolute;
      }
      .display {
        .title {
          font-weight: 400;
        }
        span {
          font-weight: 400;
        }
      }
    }
    .message {
      color: white;
      display: none;
    }
  }
}

section.tweets {
  padding: 10%;
  #displayResult {
    width: 100%;
  }
}

button {
  padding: 0.75rem;
  font-size: 1.2rem;
  background-color: $color1;
  color: $white;
  border: 0;
  border-radius: 7px;
  font-weight: 400;
  cursor: pointer;
}

/*footer*/
footer {
  text-align: center;
  min-height: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  bottom: 0;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*copyright*/
.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    color: black;
    font-weight: 600;
  }
  b {
    font-weight: 600;
  }
}

/*social media icons*/
.social {
  display: flex;
  flex-wrap: wrap;
}

.social ul {
  display: flex;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.social ul li {
  list-style: none;
  margin-right: 1rem;
}

.social ul li a img {
  height: 1.5em;
}

.powered-by {
  a {
    color: initial;
  }
}

// MEDIA QUERIES
@media only screen and (max-width: 640px) {
  body,
  footer {
    font-size: 24px;
  }
}

@media only screen and (max-width: 400px) {
  body,
  footer {
    font-size: 16px;
  }
}

@media only screen and (max-width: 786px) {
  nav {
    ul {
      width: 100%;
    }
  }
  header {
    flex-direction: column;
    padding: 3rem 5%;
    .intro {
      font-size: 1.5rem;
    }
    .right {
      min-width: 100%;
    }
  }
  section.tweets {
    padding: 7% 1%;
  }
}
